
.Amiens {
    background-size: 100% 100%;
    background-image: url("https://mespetitesstats.blob.core.windows.net/teams/amiens.png");
}

.Angers {
    background-size: 100% 100%;
    background-image: url("https://mespetitesstats.blob.core.windows.net/teams/angers.png");
}
.Bordeaux {
    background-size: 100% 100%;
    background-image: url("https://mespetitesstats.blob.core.windows.net/teams/bordeaux.png");
}

.Brest {
    background-size: 100% 100%;
    background-image: url("https://mespetitesstats.blob.core.windows.net/teams/brest.png");
}
.Caen {
    background-size: 100% 100%;
    background-image: url("https://mespetitesstats.blob.core.windows.net/teams/caen.png");
}
.Dijon {
    background-size: 100% 100%;
    background-image: url("https://mespetitesstats.blob.core.windows.net/teams/dijon.png");
}
.Guingamp {
    background-size: 100% 100%;
    background-image: url("https://mespetitesstats.blob.core.windows.net/teams/guingamp.png");
}
.Lille {
    background-size: 100% 100%;
    background-image: url("https://mespetitesstats.blob.core.windows.net/teams/lille.png");
}
.Lyon {
    background-size: 100% 100%;
    background-image: url("https://mespetitesstats.blob.core.windows.net/teams/lyon.png");
}
.Marseille {
    background-size: 100% 100%;
    background-image: url("https://mespetitesstats.blob.core.windows.net/teams/marseille.png");
}
.Metz {
    background-size: 100% 100%;
    background-image: url("https://mespetitesstats.blob.core.windows.net/teams/metz.png");
}
.Monaco {
    background-size: 100% 100%;
    background-image: url("https://mespetitesstats.blob.core.windows.net/teams/monaco.png");
}
.Montpellier {
    background-size: 100% 100%;
    background-image: url("https://mespetitesstats.blob.core.windows.net/teams/montpellier.png");
}
.Nantes {
    background-size: 100% 100%;
    background-image: url("https://mespetitesstats.blob.core.windows.net/teams/nantes.png");
}
.Nice {
    background-size: 100% 100%;
    background-image: url("https://mespetitesstats.blob.core.windows.net/teams/nice.png");
}

.Nîmes {
    background-size: 100% 100%;
    background-image: url("https://mespetitesstats.blob.core.windows.net/teams/nîmes.png");
}

.Paris {
    background-size: 100% 100%;
    background-image: url("https://mespetitesstats.blob.core.windows.net/teams/paris.png");
}

.Reims {
    background-size: 100% 100%;
    background-image: url("https://mespetitesstats.blob.core.windows.net/teams/reims.png");
}

.Rennes {
    background-size: 100% 100%;
    background-image: url("https://mespetitesstats.blob.core.windows.net/teams/rennes.png");
}

.SaintEtienne {
    background-size: 100% 100%;
    background-image: url("https://mespetitesstats.blob.core.windows.net/teams/saint_etienne.png");
}

.Saint-Étienne {
    background-size: 100% 100%;
    background-image: url("https://mespetitesstats.blob.core.windows.net/teams/saint_etienne.png");
}

.Strasbourg {
    background-size: 100% 100%;
    background-image: url("https://mespetitesstats.blob.core.windows.net/teams/strasbourg.png");
}

.Toulouse {
    background-size: 100% 100%;
    background-image: url("https://mespetitesstats.blob.core.windows.net/teams/toulouse.png");
}

.Troyes {
    background-size: 100% 100%;
    background-image: url("https://mespetitesstats.blob.core.windows.net/teams/troyes.png");
}
