.Amiens {
    background-image: url("./teams/amiens.png");
}

.Angers {
    background-image: url("./teams/angers.png");
}
.Bordeaux {
    background-image: url("./teams/bordeaux.png");
}
.Caen {
    background-image: url("./teams/caen.png");
}
.Dijon {
    background-image: url("./teams/dijon.png");
}
.Guingamp {
    background-image: url("./teams/guingamp.png");
}
.Lille {
    background-image: url("./teams/lille.png");
}
.Lyon {
    background-image: url("./teams/lyon.png");
}
.Marseille {
    background-image: url("./teams/marseille.png");
}
.Metz {
    background-image: url("./teams/metz.png");
}
.Monaco {
    background-image: url("./teams/monaco.png");
}
.Montpellier {
    background-image: url("./teams/montpellier.png");
}
.Nantes {
    background-image: url("./teams/nantes.png");
}
.Nice {
    background-image: url("./teams/nice.png");
}

.Paris {
    background-image: url("./teams/paris.png");
}

.Rennes {
    background-image: url("./teams/rennes.png");
}
.SaintEtienne {
    background-image: url("./teams/saint_etienne.png");
}

.Strasbourg {
    background-image: url("./teams/strasbourg.png");
}

.Toulouse {
    background-image: url("./teams/toulouse.png");
}

.Troyes {
    background-image: url("./teams/troyes.png");
}
