<div class="ui">
    <div class="ui one column">
        <div class="eight wide column" *ngIf="!mercatoAvailable">
            <p>Pour obtenir vos informations de mercato nous devons nous connecter sur le site de MPG en utilisant vos identifiants,
               ces identifiants sont utilisés uniquement dans votre navigateur, et sauvegardé dans le stockage locale, à aucun moment ils
                ne sont remontés sur notre serveur.
            </p>
            <div class="ui form">
                <div class="fields">
                    <div class="five wide field">
                        <input type="text" [(ngModel)]="login" placeholder="Identifiant">
                    </div>
                    <div class="five wide field">
                        <input type="password" [(ngModel)]="password" placeholder="Mot de passe">
                    </div>
                    <div class="eight wide field">
                        <button class="positive ui button" (click)="connectMercato()">Connecter son mercato</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="eight wide column" *ngIf="mercatoAvailable">
        <div class="menu-dark ui {{ getAmountOfLeagues() }} item menu">
            <a class="item {{ isFilterLeague( '' )}}" (click)="filterByLeague( '' )">Pas de mercato sélectionné</a>
            <a *ngFor="let league of availableLeagues" class="item {{ isFilterLeague( league.id )}}" (click)="filterByLeague( league.id )">{{ league.name }}</a>
        </div>
    </div>

    <div class="ui stackable grid spacer" *ngIf="mercatoDataProcessed">
        <div class="four wide column" *ngFor="let user of mercato.users">
            <h1 class="team-name">{{ user.teamName }}</h1>
            <h2 class="user-name">{{ user.firstname }} {{ user.lastname }}</h2>

            <h3>Offres (<span class="duel-obtained">obtenu</span>/<span class="duel-won">gagné</span>/<span class="duel-lost">perdu</span>)</h3>
            <div>
                <x-chartist type="Bar" id="graph-offer" [data]="user.contention" [options]="optionsContention"></x-chartist>
            </div>

            <h3>Distribution du budget par rôle.</h3>
            <div>
                <x-chartist type="Pie" [data]="user.budgetPerLine" [options]="optionsChart" [responsiveOptions]="responsiveOptionsChart"></x-chartist>
            </div>

            <h3>Distribution du budget par tranche de prix.</h3>
            <div>
                <x-chartist id="graph-budget" type="Bar" [data]="user.budgetPerBucket" [options]="optionsPriceBucket"></x-chartist>
            </div>

            <sui-accordion [closeOthers]="false">
                <sui-accordion-panel [isOpen]="false">
                    <div title>
                        <i class="dropdown icon"></i>
                        Joueurs
                    </div>
                    <div content>
                        <table align="center">
                            <thead>
                            <tr>
                                <th class="head-club"></th>
                                <th class="retrait">Nom</th>
                                <th>Pos</th>
                                <th class="center">Prix</th>
                                <th class="center">Offre</th>
                                <th class="center">Tour</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let offer of user.players">
                                <td class="body-club emblem {{ getEmblemClass( offer.player.team?.name ) }}"></td>
                                <td class="retrait">{{ offer.player.lastName }}</td>
                                <td class="center">
                                    <div ngClass="{{ getCircleClassFor( offer.player.role ) }}">{{ positionShortForm.get( offer.player.role ) }}</div>
                                </td>
                                <td class="center emphase">{{ offer.offers[0].price }}</td>
                                <td class="center emphase">{{ offer.offers.length }}</td>
                                <td class="center emphase">{{ offer.turn}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </sui-accordion-panel>
            </sui-accordion>
            <sui-accordion [closeOthers]="false">
                <sui-accordion-panel [isOpen]="false">
                    <div title>
                        <i class="dropdown icon"></i>
                        Joueurs perdus
                    </div>
                    <div content>
                        <table align="center">
                            <thead>
                            <tr>
                                <th class="head-club"></th>
                                <th class="retrait">Nom</th>
                                <th>Pos</th>
                                <th class="center">Prix</th>
                                <th class="center">Offre</th>
                                <th class="center">Tour</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let offer of user.playersLost">
                                <td class="body-club emblem {{ getEmblemClass( offer.player.team?.name ) }}"></td>
                                <td class="retrait">{{ offer.player.lastName }}</td>
                                <td class="center">
                                    <div ngClass="{{ getCircleClassFor( offer.player.role ) }}">{{ positionShortForm.get( offer.player.role ) }}</div>
                                </td>
                                <td class="center emphase">{{ offer.getMine( user ) }}</td>
                                <td class="center emphase">{{ offer.offers.length }}</td>
                                <td class="center emphase">{{ offer.turn}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </sui-accordion-panel>
            </sui-accordion>
        </div>
    </div>
</div>
