@import "../variable.scss";

::ng-deep .ct-series-a .ct-bar {
    stroke-width: 30px;
}

::ng-deep .ct-series-a .ct-slice-pie {
    fill: $pc-goalkeeper;
}

::ng-deep .ct-series-b .ct-slice-pie {
    fill: $pc-defender;
}

::ng-deep .ct-series-c .ct-slice-pie {
    fill: $pc-midfield;
}

::ng-deep .ct-series-d .ct-slice-pie {
    fill: $pc-striker;
}

h3 {
    font-family: $font-table;
    font-weight: 400;
    font-size: 1em;
}

