@import "../variable.scss";

#graph-budget {
    ::ng-deep .ct-series-a .ct-bar {
        stroke-width: 26px;
    }    
}

#graph-offer {
    ::ng-deep .ct-series-a .ct-bar {
        stroke: $pc-defender;
        stroke-width: 26px;
    }    
    ::ng-deep .ct-series-b .ct-bar {
        stroke: $pc-goalkeeper;
        stroke-width: 26px;
    }    
    ::ng-deep .ct-series-c .ct-bar {
        stroke: $pc-striker;
        stroke-width: 26px;
    }    
}

.duel-obtained {
    color: $pc-defender;
}

.duel-won {
    color: $pc-goalkeeper;
}

.duel-lost {
    color: $pc-striker;
}

::ng-deep .ct-series-a .ct-slice-pie {
    fill: $pc-goalkeeper;
}

::ng-deep .ct-series-b .ct-slice-pie {
    fill: $pc-defender;
}

::ng-deep .ct-series-c .ct-slice-pie {
    fill: $pc-midfield;
}

::ng-deep .ct-series-d .ct-slice-pie {
    fill: $pc-striker;
}

::ng-deep .ct-series-a .ct-line, ::ng-deep .ct-series-a .ct-point {
    stroke: $duelNumber;
}

::ng-deep .ct-series-b .ct-line, ::ng-deep .ct-series-b .ct-point {
    stroke: $duelValue;
}

h3 {
    font-family: $font-table;
    font-weight: 400;
    font-size: 1em;
    text-align: center;
}

