// Définition d'une paire de constantes, que l'on peut changer facilement.
$pc-goalkeeper: #0E6EB8;
$pc-defender: #016936;
$pc-midfield: #FFD700;
$pc-striker: #b03060;

$font-table: "Roboto Condensed";
