.ui.small.images {
    height: 150px;
}

.logo {
    width: 100%;
    height: auto;
}

.team-logo {
    width: 42px;
    height: 42px;

    position: absolute;
    bottom: 16px;
    right: 16px;
}

h1.name {
    font-family: "Roboto Condensed";
}

table.summary {
    font-family: "Roboto Condensed";

    thead {
        tr {
            th {
                text-align: center;
            }
        }
    }

    tbody {
        tr {
            td {
                font-size: 1.8em;
                font-weight: bold;
                text-align: center;
            }
        }
    }
}

table.performances {
    font-family: "Roboto Condensed";

    thead {
        tr {
            border-bottom:  solid 2px black;
            text-transform: uppercase;
            font-weight: 400;
            font-size: 0.7em;

            th {
                padding-left: 0.2em;
                padding-right: 0.2em;
                height: 20px;

                div { position: absolute };
            }

            th.head-name {
                text-align: left;
                padding-left: 0.5em;
            }

            .active {
                background: black;
                color: white;
            }

            .rotate {
                height: 65px;
                white-space: nowrap;
                vertical-align: baseline;
                padding-bottom: 0;
                position: relative;
            }

        }
    }

    tbody {
        tr {
            border-bottom: solid 1px lightgray;

            td {
                padding-left: 0.4em;
                padding-right: 0.4em;

            }

            td.emphase {
                font-weight: 700;
                padding-right: 1em;
                padding-left: 1em;
                border-left: 1px solid black;
                border-right: 1px solid black;
            }
        }
    }
}

