.ui.small.images {
    height: 150px;
}

.logo {
    width: 100%;
    height: auto;
}

.team-logo {
    width: 42px;
    height: 42px;

    position: absolute;
    bottom: 16px;
    right: 16px;
}

h1.name {
    font-family: "Roboto Condensed";
}

table.summary {
    font-family: "Roboto Condensed";

    thead {
        tr {
            th {
                text-align: center;
            }
        }
    }

    tbody {
        tr {
            td {
                font-size: 1.8em;
                font-weight: bold;
                text-align: center;
            }
        }
    }
}

table.performances {
    font-family: "Roboto Condensed";
}
