<team-selector></team-selector>
<div class="ui grid">
    <div class="ui three column grid">
        <div class="one wide column">
            <div class="emblem {{ getEmblemClass( currentTeam.name )}}"></div>
        </div>

        <div class="eight wide column">
            <h1 class="team-title">
                {{ currentTeam.name }}
            </h1>
        </div>

        <div class="four wide column">
        </div>
    </div>
</div>

<div class="ui column">
    <table class="ui celled structured table">
        <thead>
            <tr>
                <th rowspan="2">Nom</th>
                <th rowspan="2" class="center aligned">Résumé</th>
                <th colspan="38" class="center aligned">Matchs</th>
            </tr>
            <tr>
                <th  class="center aligned" *ngFor="let i of getRange(38)">{{ getColumnHeaderFor( i ) }}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let player of activePlayers" class="{{ getColorForPlayerClass( player ) }}">
                <td>{{ player.firstName }} {{ player.lastName }}</td>
                <td class="center aligned">
                    <span class="ui label">{{ getAverageForPlayer( player ) }}</span>
                    <span class="ui green label" *ngIf="getGoalFor( player ) > 0">{{ getGoalFor( player ) }}</span>
                    <span class="ui orange label" *ngIf="getGoalAgainst( player ) > 0">{{ getGoalAgainst( player )}}</span>
                </td>
                <td class="center aligned" *ngFor="let i of getRange(38)">
                    <span class="ui label" *ngIf="getPerformanceFor( player, i ) != '-'">{{ getPerformanceFor( player, i ) }}</span>
                    <span class="ui green label" *ngIf="hasScored( player, i )">{{ getGoalForDay( player, i ) }}</span>
                    <span class="ui orange label" *ngIf="hasScoredAgainst( player, i )">{{ getGoalAgainstForDay( player, i ) }}</span>
                    <span class="ui yellow label" *ngIf="doShowYellowCard( player, i )">&nbsp;</span>
                    <span class="ui red label" *ngIf="doShowRedCard( player, i )">&nbsp;</span>
                </td>
            </tr>
        </tbody>
    </table>

    <table class="ui celled table">
        <tbody>
            <tr *ngFor="let player of inactivePlayers">
                <td>{{ player.firstName }} {{ player.lastName }}</td>
            </tr>
        </tbody>
    </table>
</div>
