<team-selector></team-selector>
<div class="ui grid">
    <div class="ui three column grid">
        <div class="one wide column">
            <div class="emblem {{ getEmblemClass( currentTeam.name )}}"></div>
        </div>

        <div class="eight wide column">
            <h1 class="team-title">
                {{ currentTeam.name }}
            </h1>
        </div>

        <div class="four wide column">
        </div>
    </div>
</div>

<div class="ui column">
    <table class="ui celled structured table">
        <thead>
            <tr>
                <th rowspan="2">Nom</th>
                <th colspan="3">Résumé</th>
                <th colspan="38">Matchs</th>
            </tr>
            <tr>
                <th class="center aligned">M</th>
                <th class="center aligned">BP</th>
                <th class="center aligned">BC</th>
                <th  class="center aligned" *ngFor="let i of getRange(38)"><div suiPopup popupText="{{ getColumnHeaderFor( i ) }}">{{ i }}</div></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let player of activePlayers">
                <td>{{ player.firstName }} {{ player.lastName }}</td>
                <td class="center aligned">{{ getAverageForPlayer( player ) }}</td>
                <td class="center aligned">{{ getGoalFor( player ) }}</td>
                <td class="center aligned">{{ getGoalAgainst( player )}}</td>
                <td class="center aligned" *ngFor="let i of getRange(38)">{{ getPerformanceFor( player, i ) }}</td>
            </tr>
        </tbody>
    </table>

    <table class="ui celled table">
        <tbody>
            <tr *ngFor="let player of inactivePlayers">
                <td>{{ player.firstName }} {{ player.lastName }}</td>
            </tr>
        </tbody>
    </table>
</div>
