.emblem {
    width: 82px;
    height: 82px;
    background-size: 100% 100%;
}

.team-title {
    font-size: 48px;
}

.goalkeeper {
    background-color: lightgrey;
}

.defender {
    background-color: darkgrey;
}

.midfielder {
    background-color: lightgrey;
}

.striker {
    background-color: darkgrey;
}
