.emblem {
    width: 82px;
    height: 82px;
    display: inline-block;
}

.team-title {
    font-size: 48px;
    display: inline-block;
    vertical-align: top;
    margin-top: 0.2em;
}

.goalkeeper {
    background-color: lightgrey;
}

.defender {
    background-color: darkgrey;
}

.midfielder {
    background-color: lightgrey;
}

.striker {
    background-color: darkgrey;
}
